{% block error %}

<div class="access-denied-section">
  <div class="container">
    <div class="row align-items-center">
      <!-- Messages (Left on Large Screens, Centered on Mobile) -->
      <div class="col-12 col-lg-6 text-center text-lg-start">
        {% if user.is_authenticated %}
          <div class="message">Access Denied.</div>
          <div class="message2">You don’t have the necessary permissions to access this page. If you believe this is an error, please contact support.</div>
        {% else %}
          <div class="message">Please Log In.</div>
          <div class="message2">You need to be logged in to access this site. Use your credentials to log in, or contact support if you need assistance.</div>
        {% endif %}
        {% if not user.is_authenticated %}
          <button class="btn btn-success login-btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                <i class="fas fa-sign-in-alt"></i> login
            </button>
        {% endif %}
      </div>
      <!-- Door and Neon (Right on Large Screens, Centered on Mobile) -->
      <div class="col-12 col-lg-6 text-center pt-3">
        <!-- <div class="neon">403</div> -->
        <div class="door-frame">
          <div class="door">
            <div class="rectangle"></div>
            <div class="handle"></div>
            <div class="window">
              <div class="eye"></div>
              <div class="eye eye2"></div>
              <div class="leaf"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock error%}
