{% extends 'base.html' %}

{% block content %}
<!-- Member Details Page -->
<div class="container">
  <div class="row">
    <!-- Top Section: Profile Picture, Name, Age, etc. -->
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <!-- Profile Picture -->
            <div class="col-md-2">
              <img src="https://avatar.iran.liara.run/public" alt="Profile Picture" class="img-fluid rounded-circle" />
            </div>
            <!-- Member Details -->
            <div class="col-md-10">
              <h2>{{ member.name }}</h2>
              <p><strong>Email:</strong> {{ member.email }}</p>
              <p><strong>Phone:</strong> {{ member.phone_number|default:'-' }}</p>
              <p><strong>Address:</strong> {{ member.address|default:'-' }}</p>
              <p><strong>Outstanding Debt:</strong> KES {{ member.outstanding_debt }}</p>
              <p><strong>Status:</strong> {% if member.is_active %}Active{% else %}Inactive{% endif %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Borrow History -->
    <div class="col-md-12">
      <div class="card flex-grow-1 transactions-table-section mb-4">
        <div class="d-flex justify-content-between align-items-center">
          <h3>BORROW HISTORY</h3>
          <a href="{% url 'transaction_list' %}?member_id={{ member.id }}" class="btn btn-link">View All</a>
        </div>
        <div class="card-body overflow-auto table-wrapper">
          <table class="table transactions-table custom-table">
            <thead>
              <tr>
                <th>Transaction ID</th>
                <th>Book Title</th>
                <th>Issue Date</th>
                <th>Return Date</th>
                <th>Fee</th>
                <th>Amount Paid</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
              <tr>
                <td>#{{ transaction.id }}</td>
                <td>{{ transaction.book.title }}</td>
                <td>{{ transaction.issue_date|date:"Y-m-d" }}</td>
                <td>{{ transaction.return_date|date:"Y-m-d"|default:'-' }}</td>
                <td>KES {{ transaction.fee|default:'0.00' }}</td>
                <td>KES {{ transaction.amount_paid|default:'0.00' }}</td>
                <td>
                  <button class="action-btn">Return</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
{% endblock %}